<div class="header">
	Welcome {{name}}, your current balance is {{balance}}
	<span (click)="logout()" class="logout"> logout</span>
</div>
<div class="users">
	<div *ngFor="let user of users.users; let i = index" style="padding-bottom: 10px; padding-top: 10px;">
		<div *ngIf="user.id != id">
			<div style="display: inline-block; width: 120px;"> User: {{ user.name }}</div>
			<div style="display: inline-block; width: 150px;"> Mobile: {{ user.mobile }}</div>
			<div style="display: inline-block; width: 90px;"> Balance: {{ user.balance }}</div>
			<input [(ngModel)]="user.tBalance" style="margin-left: 10px;" type="number" placeholder="transfer amount">
			<button style="margin-left: 10px;" (click)="transfer(user.id,user.tBalance)"> Transfer </button>
		</div>
	</div>
</div>

