<!-- <input type="text" name= "mobile" [(ngModel)]="mobile">
<input type="password" name= "password" [(ngModel)]="password">
<button (click)="login()">login</button>
<div *ngIf="error" style="color:red">wrong mobile or password</div>
 -->


<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Mobile"
                  required
									name="mobile"
									[(ngModel)]="mobile"
                  >
                <mat-icon matSuffix>mobile</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  [(ngModel)]="password">
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
							<button
								(click)="login()"
                mat-raised-button
                color="primary"
                class="login-button">
                Sign In
              </button>
            </form>
          </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content>
          <form action="">
						<mat-form-field>
              <input
                matInput
                placeholder="Name"
                type="test"
                required
                minlength="6"
                name="name"
                [(ngModel)]="nameSignup">
                <!-- <mat-error
                  *ngIf="passwordSignup.errors && passwordSignup.errors.required">
                  Password is required
                </mat-error> -->
                <!-- <mat-error
                  *ngIf="passwordSignup.errors && passwordSignup.errors.minlength">
                  Password must be of length 6
                </mat-error> -->

            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Mobile"
                required
                name="mobile"
                [(ngModel)]="mobileSignup">
              <mat-icon matSuffix>mobile</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="password"
                [(ngModel)]="passwordSignup">
                <!-- <mat-error
                  *ngIf="passwordSignup.errors && passwordSignup.errors.required">
                  Password is required
                </mat-error> -->
                <!-- <mat-error
                  *ngIf="passwordSignup.errors && passwordSignup.errors.minlength">
                  Password must be of length 6
                </mat-error> -->
              <mat-icon matSuffix>lock</mat-icon>

						</mat-form-field>
						
            <!-- <mat-form-field>
                <input
                matInput
                placeholder="Password"
                type="password"
                required
                minlength="6"
                name="repassword"
                ngModel>
                <mat-error
                  *ngIf="repassword.errors && repassword.errors.required">
                  Re-Enter Password is required
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field> -->
            <button
              mat-raised-button
							color="primary"
							(click)="signup()"
              class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>